// variables

// fonts
$header-font: 'Montserrat', sans-serif;
$body-font: 'Muli', sans-serif;

// colors
$main: #161313;
$background: #5e91c0;
$accent: #1c5d99;
$secondary: #D8DBE2;

// mixins
@mixin heading ($font-size, $tt, $color) {
    font-size: $font-size;
    color: $color;
    font-family: $header-font;
    text-transform: $tt;
    line-height: 1.2;
    text-align: center;
}